* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: url('../img/ss.jpg') center/cover no-repeat;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.613);
  
  z-index: 1;
}

.header > * {
  position: relative;
  z-index: 2;
}

/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;

  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  transition: background-color 0.3s ease;
}


.navbar.scrolled {
  height: 100px;
  background-color: rgb(255, 255, 255); 
}
.navbar.scrolled .nav-item a {
  color: black;
}


.navbar.scrolled .nav-item a::before {
  background-color: black;
}


.logo img {
  width: 115px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

.nav-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #fff;
  transition: 0.3s ease;
}

.nav-item a:hover::before {
  width: 100%;
  left: 0;
}

/* === HAMBURGER === */
.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* === HERO TEXT === */
.text-box {
  
  padding: 2.5rem 3rem;
  margin-top: 220px; 
  color: white;
 

}

.text-box h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.text-box p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #f0f0f0;
}

.text-box h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.no-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.text-box .tel {
  display: inline-block;
  margin-right: 10px; /* Avstånd mellan knapparna */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.tel:hover{
  background-color:rgb(57, 164, 222) ;
}



@media (max-width: 1024px) {
  .hamburger {
    display: block;
    z-index: 1100;
    color: rgb(0, 0, 0);
  }

  .nav-menu {
    flex-direction: column;
    background: rgb(41, 124, 168);
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 75vh;
    padding-top: 100px;
    overflow-y: auto;
    transition: top 0.3s ease;
    text-align: center;
    z-index: 1000;
  } 

  .nav-menu.active {
    top: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .logo img {
    width: 90px;
  }


  .text-box h1 {
    font-size: 3rem;
  }

  .text-box p {
    font-size: 1rem;
  }

  .text-box h3 {
    font-size: 1.3rem;
  }
  .nav-item a {
    color: white !important; /* vita länkar oavsett scroll */
  }

  .nav-item a::before {
    background-color: white !important;
  }

  /* Ta bort scroll-färgändring på mobil/iPad */
  .navbar.scrolled .nav-item a {
    color: white !important;
  }

  .navbar.scrolled .nav-item a::before {
    background-color: white !important;
  }
  .text-box .tel{
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px){
  .text-box h1 {
    font-size: 2rem;
  }
}


@media (min-width: 1440px) {
  .text-box {
    padding-top: 250px; /* eller testa 280px för mer luft */
  }
}


/* second-section*/
.second-section{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: #f5f7fb;
}
.second-section h1{
  font-size: 35px;
}
.intro-text {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #494949;
  line-height: 1.8;
  text-align: justify;
}
.columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 50px;
  padding: 0 70px;
  flex-wrap: wrap;
}
.text-col{

  padding: 1rem;
 
}
.col {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.sec-img {
  width: 100%;
  height: 200px; /* eller vad som passar designen */
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  
}
.sec-img:hover{
    transform: scale(1.05); /* Gör elementet 5% större vid hover */
    

}


.col h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.text-col p {
   text-align: justify;
  font-size: 1rem;
  color: #494949;
  line-height: 1.6;
}
.cta-link{
  cursor: pointer;
  color: rgb(34, 102, 166);
}
.section-title{
  margin-top: 40px;
}
@media (min-width: 768px) and (max-width: 1024px){
    
    .columns{
      display: grid;
      grid-template-columns: 1fr;
      
    }
    
}

/* filosofi-section*/
.filosofi {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding:  2rem;
  text-align: center;
  background-color: #ffffffa7;
 
}

.filosofi-col {
 
  min-width: 300px;
}

.filosofi-col img {
  width: 75%;
  height: auto;
  border-radius: 8px;
  
}
.filosofi-col h1{
  margin-bottom: 10px;
  font-size: 30px;
}
.filosofi-col p{
  color: #646464;
  text-align: justify;
}
.filosofi-list{

   text-align: justify;
  padding: 15px;
}
.filosofi-list li{
  margin-bottom: 15px;
   
}
@media (max-width: 1024px) {
  .filosofi {
    flex-direction: column;
    text-align: center;
  }

  .filosofi-col {
    width: 100%;
  }

  .filosofi-col img {
    max-width: 100%;
    height: auto;
  }
  .filosofi-col:nth-child(1) {
  order: 2; 
}

.filosofi-col:nth-child(2) {
  order: 1;
}
.filosofi-list{
  display: none;
}
}

/* footer*/

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 2rem;
  color: #333;
}

.footer-content {
  
  margin: 1rem;
}
.footer-content h3{
  margin-bottom: 1rem;
  font-size:1.5rem;
}
.footer-content p {
  margin: 0.5rem 0;
}
.socials{
  display: flex;
  list-style: none;
  margin-top: 1rem;
  gap: 2rem;
}
.socials a{
  font-size: 1.2rem;
  color: rgb(15, 110, 174);

}
.socials a:hover{
  color: rgb(14, 51, 119);
}
.footer-bottom{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid black;
  padding-top: 1rem;
   font-size: 0.9rem;
}


/*sub-header */
.sub-header {
  height: 50vh; /* eller vad du vill */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../img/dentist2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.center-content {
  text-align: center;
}

.sub-header h1 {
  font-size: 2.5rem;
 
}
.om-oss{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
 
}
.row{
  display: flex;
  gap: 5rem;
}
.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img{
  width: 100%;
}
.about-col h1{
  margin-bottom: 15px;
  font-size: 30px;
}
.about-col p{
  text-align: justify;
  color: #494949;
}
.team {
  width: 100%;
  text-align: center;
  padding: 100px 20px;
  background-color: #f5f7fb;
  
}
.team h1{
  margin-bottom: 1rem;
  font-size: 40px;
  
}
.team-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* exakt 3 kolumner */
  gap: 3rem;
  margin-top: 40px;
  justify-items: center;
}






.team-col img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  
  border-radius: 60%;
  margin-bottom: 1rem;
}

.team-col h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.team-col p {
  color: #666;
}
@media screen and (min-width: 1440px) {
  .team-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
    gap: 2rem;
  }

  .about-col {
    flex-basis: 100%;
    padding: 0;
  }

  .team-row {
    gap: 2rem;
  }

  .team-col img {
    width: 180px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .sub-header h1 {
    font-size: 2rem;
  }
  .team-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
  }

  .about-col h1 {
    font-size: 22px;
    padding: 10PX 10PX;
  }

  .team h1 {
    font-size: 28px;
  }

  .team p {
    font-size: 0.95rem;
  }

  .team-col img {
    width: 140px;
    height: 160px;
  }

  .team-col h3 {
    font-size: 1.1rem;
  }

  .team-col p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .team-row {
    display: grid;
    grid-template-columns: 1fr ;
    
  }

  .team-col img {
    width: 120px;
    height: 140px;
  }
}

/*kontakt-header */
.kontakt-header {
  height: 50vh; /* eller vad du vill */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../img/kontakt.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.center-content {
  text-align: center;
}

.form-container{
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}
.contact{
  max-width: 800px;
  margin: 0 auto;
}
.contact h2{
  font-size: 36px;
  margin-bottom: 70px;
  

}
.contact-warpper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}
.contact-form{
  text-align: left;
}
.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
}
.form-grupp{
 margin-bottom: 20px; 
}
input,textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
 border: none;
 background-color: rgb(238, 238, 238);
 color: black;
}
button{
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
   background-color: rgb(28, 108, 151);
   color: white;
   transition: 0.3s ease;
}
button:hover{
  background-color:rgb(57, 164, 222) ;
}
.contact-info{
  text-align: left;
  
}
.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;

}
.contact-info p{
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .contact-warpper {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .form-container {
    padding: 40px 20px;
  }
  .contact h2{
    font-size:22px ;
  }
  iframe {
    width: 100% !important;
    height: 300px;
  }
}
